
- var items = []
- for (item of cart.items) {
-   if(item.subscriptionInterval>0 && item.parentItemNumber>0) {
-     items.push(item)
-   }
- }
if items.length
  .row
    .col-lg-12
      .detail-row
        h3.pull-left.text-300 #{localizer.get('SUBSCRIPTIONS')}
          //- a.pull-right.edit-link.text-uppercase(href=cartItemDetails.editLinks.quantities class=isCheckout ? '' : 'sr-only') #{localizer.get('EDIT')}
    .row
      .col-lg-12
        hr
    each cartItem,q in items
      - var quantityAmount = (cartItem.price/100).formatDollars(2)
      .row
        .col-lg-12
          .detail-row
            .pull-left 
              span.qty #{cartItem.qty}
              span #{cartItem.title.text}
            
            .pull-right.amount
              .currency #{currency.symbol}
              .whole #{quantityAmount.split('.')[0]}
              .decimals .#{quantityAmount.split('.')[1]}
    .row
      .col-lg-12
        .spacer
    .row
      .col-lg-12
        .detail-row
          .pull-left #{localizer.get('SUB_TOTAL')}
          .pull-right.amount.subtotal#intervalBeforeTax
            .currency #{currency.symbol}
            .whole #{intervalTotalWithoutDiscountDollar.split('.')[0]}
            .decimals .#{intervalTotalWithoutDiscountDollar.split('.')[1]}
    if cart.intervalTotalDiscount>0
      .row
        .col-lg-12
          .detail-row.promotion.warning
            - var intervalDiscountDollar = ((cart.intervalTotalDiscount)/100).formatDollars(2);
            .pull-left #{localizer.get('PROMOTION')}
            .pull-right.amount.subtotal
              | -
              .currency #{currency.symbol}
              .whole #{intervalDiscountDollar.split('.')[0]}
              .decimals .#{intervalDiscountDollar.split('.')[1]}
    if ENABLE_PLAN_B_SOFT_LAUNCH_MODE
      .row
        .col-lg-12
          .detail-row
            .pull-left #{localizer.get('TAXES')}
            .pull-right.withTaxField.text-muted.text-italic.text-300.amount(style=showTotalStyle) #{localizer.get('PLUS_APPLICABLE_TAXES')}
    else
      .row
        .col-lg-12
          .detail-row
            .pull-left #{localizer.get('TAXES')}
            .pull-right.taxCalculation(style='display:none;')
              img(src="/public_nocache/images/loading-spinner-grey.gif", height='16') 
              span.hidden #{localizer.get('CALCULATING')}
            .pull-right.withTaxField.text-muted.text-italic.text-300.amount#intervalTax(style=showTotalStyle)                
              .currency #{currency.symbol}
              .whole #{intervalTax.split('.')[0]}
              .decimals .#{intervalTax.split('.')[1]}
    .row
      .col-lg-12
        .spacer
    .row
      .col-lg-12
        .detail-row
          - var totalToShow = intervalTotal
          - var additionalText = ""
          - if (order && order.type === "SUBSCRIPION_UPDATE") {
          -   totalToShow = (cart.intervalTotal/100).formatDollars(2)
          -   additionalText = localizer.get('TOTAL_INCLUDES_THE_PRICES_OF_PLAN_FEATURES')
          - }
          .pull-left.text-danger Total (#{currency.symbol}#{currency.value.toUpperCase()})
          .pull-right.amount.total.taxCalculation(style='display:none;')
            img(src="/public_nocache/images/loading-spinner-grey.gif", height='16') 
            span.hidden #{localizer.get('CALCULATING')}
          .pull-right.withTaxField.amount.total#intervalAfterTax(style=showTotalStyle)                
            .currency #{currency.symbol}
            .whole #{totalToShow.split('.')[0]}
            .decimals .#{totalToShow.split('.')[1]}
    .row
      .col-lg-12
        .detail-row
          .pull-left &nbsp;
          .pull-right.text-muted.text-italic.text-300 (#{localizer.get('BILLED')} #{localizer.get('ACCORDING_TO_PLAN')})
          p.text-muted.text-300(style="font-size:12px;") #{additionalText}