
  
- var regFlag = region && region.toUpperCase() || 'US';
.footer-container-top
  .container
    //- .row
      .col-md-3.col-lg-3 &nbsp;
      .col-md-2.col-lg-2
        .text-center
          img(src='https://storage.googleapis.com/avayastore/public_files/avaya-logo-vertical-grey.png')
      .col-md-2.col-lg-2
        .text-center.text-muted.text-small #{localizer.get('IN_ASSOCIATION_WITH_ZANG_TM')}
      .col-md-2.col-lg-2
        .text-center
          img(src='https://storage.googleapis.com/avayastore/public_files/zang-logo-vertical-grey.png')
      .col-md-3.col-lg-3 &nbsp;
    .row
      .col-md-12.col-lg-12
        br
    .row
      .col-lg-3.col-md-3.col-sm-3
        ul.footer-nav-list
          li 
            h5 #{localizer.get('DISCOVER')}
          //-li
            a(href="https://www.avaya.com/en/products/" target="_blank") #{localizer.get('PRODUCTS')}
          //-li
            a(href="https://www.avaya.com/en/solutions/" target="_blank") #{localizer.get('SOLUTIONS')}
          //-li
            a(href="https://www.avaya.com/en/services/" target="_blank") #{localizer.get('SERVICES')}
          li
            a(href="https://www.avaya.com/en/solutions/industry/" target="_blank") #{localizer.get('INDUSTRIES')}
          //-li
            a(href="https://www.avaya.com/en/case-studies/" target="_blank") #{localizer.get('CASE_STUDIES')}
          //-li
            a(href="https://www.avaya.com/en/promotions-programs/promotions-programs/" target="_blank") #{localizer.get('PROGRAMS_AND_PROMOTIONS')}
          li
            a(href="https://www.avaya.com/en/promotions-programs/authentic-avaya/" target="_blank") #{localizer.get('AUTHENTIC_AVAYA')}
          li
            a(href="https://www.avaya.com/en/perspectives/" target="_blank") #{localizer.get('PERSPECTIVES')}
          li
            a(href="https://www.avaya.com/blogs/" target="_blank") #{localizer.get('AVAYA_CONNECTED_BLOG')}
          li
            a(href="https://www.avaya.com/en/videos/" target="_blank") #{localizer.get('AVAYA_TV')}
          //-li
            a(href="https://www.avaya.com/en/" target="_blank") #{localizer.get('SOLUTION_FINDER')}
      .col-lg-3.col-md-3.col-sm-3
        ul.footer-nav-list
          li
            h5 #{localizer.get('INFO_FOR')}
          li
            a(href="https://www.avaya.com/devconnect" target="_blank") #{localizer.get('DEVELOPERS')}
          //-li
            a(href="https://www.avaya.com/en/prospectivepartners/" target="_blank") #{localizer.get('CHANNEL_PARTNERS')}
          //-li
            a(href="http://www.devconnectmarketplace.com/" target="_blank") #{localizer.get('TECHNOLOGY_PARTNERS')}
          li
            a(href="https://www.avaya.com/en/partners/consultants/" target="_blank") #{localizer.get('CONSULTANTS')}
          li
            a(href="https://www.avaya.com/en/contacts/?view=investors" target="_blank") #{localizer.get('INVESTORS')}
          li
            a(href="https://www.avaya.com/en/contacts/?view=media" target="_blank") #{localizer.get('MEDIA_ANALYSTS')}
          li
            a(href="https://www.avaya.com/en/about-avaya/doing-business/supplier-information/" target="_blank") #{localizer.get('SUPPLIERS')}
      .col-lg-3.col-md-3.col-sm-3
        ul.footer-nav-list
          li
            h5 #{localizer.get('CONNECT_WITH_US')}
          li
            a(href="mailto:cloudsupport@avaya.com") #{localizer.get('SUPPORT')}
              i.fa.fa-sign-out
              
          //- li
           a(href="https://www.avaya.com/en/partner-locator/" target="_blank") #{localizer.get('FIND_A_CHANNEL_PARTNER')}
         
          //- li
           a(href="http://www.devconnectmarketplace.com/" target="_blank") #{localizer.get('FIND_A_TECHNOLOGY_PARTNER')}
              i.fa.fa-sign-out
              
          li
            a(href="https://www.avaya.com/en/about-avaya/doing-business/executive_briefing_center/" target="_blank") #{localizer.get('EXECUTIVE_BRIEFING_CENTER')}
          li
            a(href="https://www.avaya-learning.com/lms/" target="_blank") #{localizer.get('AVAYA_LEARNING_SERVICES')}
              i.fa.fa-sign-out
          li
            a(href="https://www.avaya.com/en/contacts/" target="_blank") #{localizer.get('CONTACTS')}
      .col-lg-3.col-md-3.col-sm-3
        ul.footer-nav-list
          li
            h5 #{localizer.get('ABOUT_AVAYA')}
          li
            a(href="https://www.avaya.com/en/events/" target="_blank") #{localizer.get('EVENTS')}
          li
            a(href="https://www.avaya.com/usa/about-avaya/newsroom/" target="_blank") #{localizer.get('NEWSROOM')}
          li
            a(href="http://investors.avaya.com/" target="_blank") #{localizer.get('INVESTOR_RELATIONS')}
              i.fa.fa-sign-out
          li
            a(href="https://www.avaya.com/en/about-avaya/our-company/corporate-responsibility/corporate-responsibility/" target="_blank") #{localizer.get('CORPORATE_RESPONSIBILITY')}
          li
            a(href="https://www.avaya.com/en/about-avaya/our-company/company_overview/company-overview" target="_blank") #{localizer.get('OUR_COMPANY')}
          //-li
            a(href="https://www.avaya.com/en/about-avaya/doing-business/iaug/" target="_blank") #{localizer.get('INTERNATIONAL_AVAYA_USERS_GROUP_IAUG')}
          li
            a(href="https://careers.avaya.com/" target="_blank") #{localizer.get('CAREERS')}
              i.fa.fa-sign-out
    .row
      .col-lg-12.col-md-12
        hr
        br
    .row
      .col-lg-7.col-md-7
        //- a.optanon-show-settings.text-center(data-ignore-geolocation='true', data-reactid='429') Cookie Preference
        br
        br
    .row
      .col-lg-6.col-md-6
        .text-center.bottom-list
          a(href='https://www.avaya.com/en/sitemap/' target="_blank") #{localizer.get('SITEMAP')}
          a(href='https://www.avaya.com/en/termsofuse' target="_blank") #{localizer.get('TERMS_OF_USE')}
          a(href='https://www.avaya.com/en/privacy/commitment/' target="_blank") #{localizer.get('PRIVACY')}
          a(href='https://www.avayamarket.com/legal/cookie-statement' target="_blank") #{localizer.get('COOKIE')}
          span &copy; #{new Date().getFullYear()} #{localizer.get('AVAYA_CLOUD_INC')}
        .text-center.bottom-list #{localizer.get('AVAYA_ADDRESS')}
      .col-lg-3.col-md-3
        .text-center.footer-social-list          
          a(href='https://twitter.com/avaya', target='_blank')
            i.fa.fa-twitter            
          a(href='https://www.facebook.com/avaya', target='_blank')
            i.fa.fa-facebook            
          a(href='https://www.youtube.com/Avaya', target='_blank')
            i.fa.fa-youtube            
          a(href='https://www.linkedin.com/company/Avaya', target='_blank')
            i.fa.fa-linkedin            
          a(href='https://plus.google.com/+avaya', target='_blank')
            i.fa.fa-google-plus            
          a(href='https://www.instagram.com/avayainc/', target='_blank')
            i.fa.fa-instagram            
          a(href='https://www.pinterest.com/AvayaInc/', target='_blank')
            i.fa.fa-pinterest-p
      .col-lg-3.col-md-3
        .text-center.footer-choose-region
          a.nav-link.nav-flag-icon(href='/regions/choose', tooltip=localizer.get('CHANGE_YOUR_COUNTRY_OR_REGION'))
            img.main-menu-region-flag(src='/public_nocache/images/regions-flags/' + regFlag + '.svg', width='22') 
            | #{localizer.get('CHANGE_REGION')}
          //- a.optanon-toggle-display #{"Cookie Preference"}
        
.zs-global-mask
  h1.text-center.text-300
        
